<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
  <div class="row">
    <div class="col-md-6">
      {{#each errorMessages}}
        <div class="alert alert-danger">
          {{this.msg}}
        </div>
      {{/each}}
      <form action="/createTask" class="form-inline" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="title" placeholder="Task Title">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create New Task</button>
      </form>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6">
      <h3>Your list of tasks</h3>
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">
          <a href="#">Dapibus ac facilisis in </a>
          <span class="float-right"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
{{/if}}
