<div class="row pt-4">
  <div class="col-md-4 mx-auto">
    <form method="post">
      <h2 class="text-center mb-4">Please Sign In</h2>
      <div class="form-group">
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" require="" autofocus="">
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" require="" autofocus="">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        <h4 class="text-center py-2">Or</h4>
        <a href="/auth/facebook" class="btn btn-block btn-success">Sign In with Facebook</a>
      </div>
    </form>
  </div>
</div>
