<div class="row pt-4">
  <div class="col-md-4 mx-auto">
    {{#each errorMessages}}
      <div class="alert alert-danger">
        {{this.msg}}
      </div>
    {{/each}}
    <form method="post">
      <h2 class="text-center mb-4">New Account</h2>
      <div class="form-group">
        <input type="text" name="name" class="form-control mb-3" placeholder="Name" require="" autofocus="">
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" require="" autofocus="">
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" require="" autofocus="">
        <input type="password" name="confirmPassword" class="form-control mb-3" placeholder="Confirm Password" require="" autofocus="">
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </form>
  </div>
</div>
