*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-content {
  margin-top: 50px;
  flex-grow: 1;
}

a {
  color: #00B7FF;
}

#tasks-list li, .user-container li {
  cursor: pointer;
}

.user-container li .float-right {
  color: #fff;
  font-size: 20px;
}

.user-container li.list-group-item:hover {
  background-color: #28a745;
  color: #fff;
}

#tasks-list li.list-group-item:hover {
  background-color: #007bff;
  color: #fff;
}

#chatbox-listMessages {
  height: 150px;
  overflow-y: scroll;
}

.user-container {
  margin-bottom: 15px;
}


#users-list {
  min-height: 100px;
}

.CodeMirror {
  height: 530px;
}

#my-video {
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#second-video {
  width: 100%;
  min-height: 177px;
  max-height: 480px;
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}

#my-id {
  font-weight: bold;
}

#make-call, #end-call {
  width: 80px;
}

#make-call i, #end-call i {
  font-size: 20px;
}



footer {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,.03);
}
